{% extends 'base.html' %}
{% block title %} Register {% endblock %}

{% load crispy_forms_tags %}

{% block body %}
    {% if user.is_authenticated and user.is_staff %}
        <div class="row">
            <div class="col-sm-6">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#EditModal"> Edit</button>
            </div>
            <div class="col-sm-6">
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#DeleteModal"> Delete</button>
            </div>
        </div>
    {% endif %}
    <div>
        <h2>{{ object.title }}</h2>
        <p>{{ object.body }}</p>
    </div>
    <!-- Edit Modal -->
    <div class="modal" id="EditModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h1 class="modal-title">Edit Article </h1>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form action="{% url 'update_article' slug=object.slug %}" class="form-group" method="post">
                        {% csrf_token %}
                        <div id="div_id_title" class="form-group"> 
                            <label for="id_title" class=" requiredField">Title
                                <span class="asteriskField">*</span> 
                            </label> 
                            <div class=""> 
                                <input type="text" name="title" maxlength="200" class="textinput textInput form-control" required="" value="{{ object.title }}" id="id_title"> 
                            </div> 
                        </div> 
                        <div id="div_id_body" class="form-group"> 
                            <label for="id_body" class=" requiredField">Body<span class="asteriskField">*</span> </label> 
                            <div class=""> 
                                <textarea name="body" cols="40" rows="10" class="textarea form-control" required=""  id="id_body">{{ object.body }}</textarea> 
                            </div> 
                        </div>
            
            
                        <input type="submit" class="home__button" value="Edit">
                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">

                </div>

            </div>
        </div>
    </div>

    <!-- Delete Modal -->
    <div class="modal" id="DeleteModal" >
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h1 class="modal-title">Delete Article</h1>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <p>Are you sure you want to delete this article?</h>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">

                    <form action="{% url 'delete_article' slug=object.slug %}" method="post">
                        {% csrf_token %}
                        <div class="content-footer">
                            <button class="btn btn-danger deletebtn ">DELETE</button>
                        </div>
                    </form>

                    <button type="button" class="btn btn-primary" data-dismiss="modal">CLOSE</button>


                </div>

            </div>
        </div>
    </div>

    <hr>

    <div id="comments_section">

        {% if user.is_authenticated %}
            <div class="">
                <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#CommentModal"> Comment</button>
            </div>
            <!-- Comment Modal -->
            <div class="modal" id="CommentModal" >
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <!-- <h1 class="modal-title">Add An Article</h1> -->
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <form action="" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    {{ comment_form|crispy }}
                                    <button class="home__button" type="submit">Add comment 
                                        <i class="fas fa-comments"></i>
                                    </button>
                                </div>
                            </form>

                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                        </div>

                    </div>
                </div>
            </div>        

        {% else %}
            <a class="home__button" href="{% url 'login' %}">Log in to add a comment!</a><br>
        {% endif %}

        {% if comments %}
            <br>
            <!-- Likes, Dislikes, Number Of Comment -->
            <div class="row">
                <div class="col-sm-2">
                    <strong class="text-secondary">
                        {{ object.number_of_comments }} Comment{{ object.number_of_comments|pluralize }}
                    </strong>
                </div>
                <div class="col-sm-1">
                    <div class="add__sub"> 
                        <h5>0</h5>
                        <form action="{% url 'like_post' object.slug %}" method="post">
                            {% csrf_token %}
                            <button type="submit" name="like" value="{{ object.id }}">
                                <a href="" class="">
                                    <span class="material-icons icon "> thumb_up </span>
                                </a>
                            </button>
                        </form>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="add__sub"> 
                        <h5>0</h5>
                        <a href="" class="">
                             <span class="material-icons icon "> thumb_down </span>
                        </a>
                    </div>
                </div>
            </div>
            <hr>
            <ul>
                {% for comment in comments %}
                    <li>           
                        <div>
                        <span>
                            <strong class="text-info">{{ comment.author }} </strong>
                            <small class="text-muted">{{ comment.created_at }}</small>
                        </span>
                        <p>
                            {{ comment.body|safe }}
                        </p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
        <br>
            <div>
                <strong class="text-secondary">No comments yet...</strong>
            </div>

        {% endif %}
    </div>
    <br><br>
    
{% endblock %}