{% extends 'base.html' %}
{% block title %} {{ article.title }} (Article) {% endblock %}

{% load crispy_forms_tags %}

{% block body %}

    <div class="article-body">
        <h2>{{ article.title }}</h2>
        <div>
            <p>
                <small>
                     {{ article.author }}  -  {{ article.created_at }}  
                     {% if user.is_authenticated and user.is_staff %}
                        -
                        <a type="button" href="{% url 'update_article' slug=article.slug %}" class="btn btn-success btn-sm"> Edit</a>
                        <a type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#DeleteModal"> Delete</a> 
                    {% endif %}
                </small>
            </p>
        </div>
        <div>
            <img class="img-fluid" src="{{ article.header_image.url }}" alt="{{ article.title }} article header image">
        </div>
        <p>{{ article.body|safe }}</p>

    </div>

    <!-- Delete Modal -->
    <div class="modal" id="DeleteModal" >
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h1 class="modal-title">Delete Article</h1>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <p>Are you sure you want to delete this article?</h>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">

                    <form action="{% url 'delete_article' slug=object.slug %}" method="post">
                        {% csrf_token %}
                        <div class="content-footer">
                            <button class="btn btn-danger deletebtn ">DELETE</button>
                        </div>
                    </form>

                    <button type="button" class="btn btn-primary" data-dismiss="modal">CLOSE</button>


                </div>

            </div>
        </div>
    </div>

    <hr>

    <div id="comments_section">
        <div class="row">

            <div class="col-sm-6">
                {% if user.is_authenticated %}
                    <div class="row">

                        <div class="col-sm-6">
                            <!-- Modal Button -->
                            <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#CommentModal"> Comment</button>
    
                                <!-- Comment Modal -->
                            <div class="modal" id="CommentModal" >
                                <div class="modal-dialog">
                                    <div class="modal-content">
    
                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <!-- <h1 class="modal-title">Add An Article</h1> -->
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
    
                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <form action="" method="post">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    {{ comment_form|crispy }}
                                                    <button class="home__button" type="submit">Add comment 
                                                        <i class="fas fa-comments"></i>
                                                    </button>
                                                </div>
                                            </form>
    
                                        </div>
    
                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                        </div>
    
                                    </div>
                                </div>
                            </div>   
                        </div> 
    
                        <div class="col-sm-6">
                    
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="add__sub"> 
                                        <h5> {{ object.number_of_likes }} </h5>
                                        <form action="{% url 'preference' object.id %}" method="post">
                                            {% csrf_token %}
                                            <button class="liked" type="submit" name="preference" value="like">
                                                <a href="" class="">
                                                    {% if user.is_authenticated and user in object.all_liked %}
                                                        <span class="material-icons icon"> thumb_up </span>
                                                    {% else %}
                                                        <span class="material-icons icon  user-liked"> thumb_up </span>
                                                    {% endif %}
                                                </a>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="add__sub"> 
                                        <h5> {{ object.number_of_dislikes }} </h5>
                                        <form action="{% url 'preference' object.id %}" method="post">
                                            {% csrf_token %}
                                            <button class="liked" type="submit" name="preference" value="dislike">
                                                <a href="" class="">
                                                    {% if user.is_authenticated and user in object.all_disliked %}
                                                        <span class="material-icons icon"> thumb_up </span>
                                                    {% else %}
                                                        <span class="material-icons icon  user-liked"> thumb_down </span>
                                                    {% endif %}
                                                </a>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
            
                        </div>

                    </div>

                {% else %}
                    <a class="home__button" href="{% url 'login' %}">Log in to add a comment!</a><br>
                {% endif %}
            </div>

        </div>


        {% if comments %}
            <br>
            <!-- Likes, Dislikes, Number Of Comment -->
           
            <div class="">
                <strong class="text-secondary">
                    {{ object.number_of_comments }} Comment{{ object.number_of_comments|pluralize }}
                </strong>
            </div>
  
            <hr>
            <ul>
                {% for comment in comments %}
                    <li>           
                        <div>
                        <span>
                            <strong class="text-info">{{ comment.author }} </strong>
                            <small class="text-muted">{{ comment.created_at }}</small>
                        </span>
                        <p>
                            {{ comment.body|safe }}
                        </p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
        <br>
            <div>
                <strong class="text-secondary">No comments yet...</strong>
            </div>

        {% endif %}
        
    </div>
    <br><br>
    
{% endblock %}