.liked{
    background: none;
    border: 0;
}

.user-liked{
    color: rgb(79, 74, 74);
}

.container{
    margin-top: 50px;
}

form{
    text-align: justify;
}

.body{
    padding: 10px;
}

.article-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a .loop img{
    width: 20%;
    margin-bottom: 10px;
}

footer{
    margin-top: 20px;
    padding: 30px;
    background-color: #000;
    border-radius: 0 0 50px 50px ;
}

footer div {
    font-size: 25pt;
}

footer a{
    border-radius: 45%;
    color: #ffffff;
    text-decoration: none;
}

footer a:hover{
    color: #cce0ff;
}

@media screen and (max-width: 300px) {

    a .loop{
        width: 90%;
        /* padding: 20px; */
    }
    a .loop img{
        width: 30%;
    }
}