.liked{
    background: none;
    border: 0;
}

.user-liked{
    color: rgb(79, 74, 74);
}

.container{
    margin-top: 50px;
}

form{
    text-align: justify;
}

.article-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-image{
   width:  50% ;
}