{% extends 'base.html' %}

{% block title %} Login {% endblock %}
{% load crispy_forms_tags %}

{% block body %}

      
    <div class="row">
      <div id="examiner" class="">
        <h3 class="intro"> Login )</h3>
        <div class="container">
            <form action="" class="form-group" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <p> <small>Don't Have an account? <a href="{% url 'register' %}">Sign Up</a></small> </p>
                <input class="home__button" type="submit" class="btn btn-success" value="Login">
            </form>
        </div>
      </div>

    </div>

{% endblock %}